body {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    padding: 50px;
}

#form {
    max-width: 300px;
    margin: 0 auto;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#button {
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 0, 144);
    color: white;
    border: none;
}